# Pandas  
- Pandas kütüphanesi veriyi analiz etmek için kullanılan, Python programlama dili üzerine yazılmış açık kaynak kodlu bir kütüphanedir.
- Pandasta en çok kullanılan veri yapılar Series ve DataFrame yapılarıdır.
- Pandas, Python’da veri analizi yaparken en çok kullanılan kütüphanelerden biridir. Excel gibi düşünebilirsin ama Python üzerinden çalışır. CSV dosyası, Excel tablosu, veritabanı çıktısı gibi veri setlerini okuma, düzenleme, filtreleme, analiz etme gibi işlemleri yapmamıza olanak tanır.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

## Seriler

- Seriler bir tablodaki sütunlar gibi düşünülebilir. Index ve değer olmak üzere iki bölümden oluşur.  
- Bir boyutlu arraylerdir. Listeye benzer ama her elemanın bir etiketi (index) vardır.
- pd.Series(): ile bir pandas serisi oluşturabilirsiniz.

In [6]:
seri = pd.Series([10, 20, 30])
print(seri)

0    10
1    20
2    30
dtype: int64

**Gördüğün gibi:**

- Soldaki sayılar: Index (otomatik oluşturulmuş)
- Sağdaki sayılar: Veri değerleri

In [8]:
seri = pd.Series([12, 33, 45, 50, 14, 22, 16, 28])
seri

#Bu kodda bir Series oluşturulmuş. İçinde 8 tane sayı var. Pandas bu sayılara otomatik index verir: 0'dan başlar, sırayla artar.

0    12
1    33
2    45
3    50
4    14
5    22
6    16
7    28
dtype: int64

In [13]:
type(seri)

pandas.core.series.Series

In [16]:
seri.index
#.index: serinin index bilgisine ulaşabiliriz.

RangeIndex(start=0, stop=8, step=1)

In [18]:
#italik metin.size: Eleman sayısını verir.
seri.size

8

In [19]:
#.ndim: boyut bilgisini verir.
seri.ndim

1

In [20]:
#Değerlere array formunda  erişmek istersek values methodunu kullanabiliriz.
a = seri.values
a

array([12, 33, 45, 50, 14, 22, 16, 28])

In [21]:
type(a)

numpy.ndarray

**.head(n):**

**İşlev: Serinin veya veri çerçevesinin (DataFrame) ilk n elemanını döndürür.**

**Varsayılan: n belirtilmezse, ilk 5 elemanı döndürür.**

In [23]:
seri.head(2)

0    12
1    33
dtype: int64

In [24]:
seri.head()

0    12
1    33
2    45
3    50
4    14
dtype: int64

**.tail(n):**

**İşlev: Serinin veya veri çerçevesinin son n elemanını döndürür.**

**Varsayılan: n belirtilmezse, son 5 elemanı döndürür.**

In [25]:
seri.tail()

3    50
4    14
5    22
6    16
7    28
dtype: int64

In [26]:
seri.tail(4)

4    14
5    22
6    16
7    28
dtype: int64

In [27]:
#-'lı değerlerlerde girilen n değeri kadar baştaki gözlemleri atar ve kalan gözlemleri ekrana yazdırır.
#Bu durumda ilk 4 gözlem atılır (yani index 0,1,2,3)
seri.tail(-4)

4    14
5    22
6    16
7    28
dtype: int64

In [28]:
seri.tail(-2)

2    45
3    50
4    14
5    22
6    16
7    28
dtype: int64

In [29]:
#3 indexe erişelim. 
seri[3]

50

In [30]:
seri

0    12
1    33
2    45
3    50
4    14
5    22
6    16
7    28
dtype: int64

In [31]:
#2. index ile 4. index (dahil) aralaığını seçelim. 
seri[2:5]

2    45
3    50
4    14
dtype: int64

In [32]:
seri

0    12
1    33
2    45
3    50
4    14
5    22
6    16
7    28
dtype: int64

In [33]:
seri2 = pd.Series([2,4,6,8,10,12], index = [1,3,5,7,9,11])
seri2

1      2
3      4
5      6
7      8
9     10
11    12
dtype: int64

In [34]:
seri2[3]
#İndex değeri yoksa mesela 2. index olmadığı için KeyError hatası verir.

4

In [35]:
seri2 = pd.Series([2,4,6,8,10,12], index = ["a","b","c","d","e","f"])
seri2

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [36]:
#index çağırma
seri2["b"]

4

In [37]:
#dilimleme
seri2["a":"d"]

a    2
b    4
c    6
d    8
dtype: int64

In [38]:
#Sözlük üzerinden bir seri oluşturalım. 
sozluk = {"Büşra": 25,
            "Melis": 22,
          "Ayşe":26 }

sozluk

{'Büşra': 25, 'Melis': 22, 'Ayşe': 26}

In [39]:
yeni_sozluk = pd.Series(sozluk)
yeni_sozluk

Büşra    25
Melis    22
Ayşe     26
dtype: int64

In [40]:
type(yeni_sozluk)

pandas.core.series.Series

In [41]:
#array üzerinden bir seri oluşturalım. 
import numpy as np
#maximum 50 sayıya kadar çıkabilen ve 6 değerlerden oluşan random bir aray oluşturun

#Melis Alsan
random_series = pd.Series(np.random.randint(45, 51, size=6))
print(random_series)

0    49
1    45
2    47
3    47
4    48
5    49
dtype: int64

**DataFrame**

- Eşit uzunlukta bir veri dizilimidir. 
- Veri Manipülasyonu: Veri seçme, Veri filtreleme, gruplandırma, dönüştürme.
- Veriyi düzenli bir şekilde tutar. 
- Veriyi düzenli bir şekilde tuttuğu için üzerinde kolaylıkla değişiklikler yapabiliriz. 

pd.DataFrame()

In [42]:
pd.DataFrame(seri2)

    0
a   2
b   4
c   6
d   8
e  10
f  12

In [43]:
pd.DataFrame(seri2, columns = ["Gözlem"])

   Gözlem
a       2
b       4
c       6
d       8
e      10
f      12

In [44]:
#Random bir array oluşturalım ve bunu dataframe'e dönüştürelim
#Max :25 değerini alsın ve 12 gözlemi olsun ve 4x3 şekli olsun. 

yeni_dizi1 = np.random.randint(26, size = 12).reshape(4,3)
pd.DataFrame(yeni_dizi1)

    0   1   2
0  10  21   2
1  18   5  18
2   7  18  19
3  20   0  21

In [45]:
yeni_dizi1 = np.random.randint(26, size = 12).reshape(4,3)
pd.DataFrame(yeni_dizi1)

    0   1   2
0  22   2   1
1  10   9  13
2   9  10   9
3  15  10  23

In [46]:
yeni_dizi = pd.DataFrame(np.random.randint(0, 26, (4, 3)))
yeni_dizi

    0   1   2
0  12   3   3
1  17  18   7
2   3  19  24
3  24   8  25

In [47]:
array = np.random.randint(0, 25, size=(4, 3))  
df = pd.DataFrame(array)
df

    0   1   2
0  13   3   0
1  19   5   7
2   9   3  11
3   0  16  15

In [48]:
df.columns = ["1.Sütun","2.Sütun","3.Sütun"]
df

   1.Sütun  2.Sütun  3.Sütun
0       13        3        0
1       19        5        7
2        9        3       11
3        0       16       15

In [49]:
df.index

RangeIndex(start=0, stop=4, step=1)

**.axes =satır ve sütün etiket isimlerini döndürebiliriz**

In [50]:
df.axes #etiket bilgisini döndürür.

[RangeIndex(start=0, stop=4, step=1),
 Index(['1.Sütun', '2.Sütun', '3.Sütun'], dtype='object')]

In [51]:
df.ndim #boyut bilgisine baktık.

2

In [52]:
df.shape #satır ve sütunlarına baktık

(4, 3)

In [53]:
df.values #içeride bulunan gözlem değerlendiri ekrana yazdırır

array([[13,  3,  0],
       [19,  5,  7],
       [ 9,  3, 11],
       [ 0, 16, 15]])